<b> DSBDA Mini Project </b>

<b> Problem Statement : </b>  <br>
Use the covid_vaccine_statewise.csv dataset from kaggle.com and perform the following analytics:<br>
a. Describe the dataset <br>
b. Number of persons state wise vaccinated for first dose in India <br>
c. Number of persons state wise vaccinated for second dose in India<br>
d. Number of Males vaccinated<br>
e. Number of females vaccinated<br>

### <b> Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

### <b> Importing Dataset

In [2]:
coviddf = pd.read_csv('covid_vaccine_statewise.csv')

### <b> Describing Dataset

In [3]:
coviddf.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16-01-2021,Andaman and Nicobar Islands,23.0,2.0,2.0,23.0,0.0,12.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0
1,17-01-2021,Andaman and Nicobar Islands,23.0,2.0,2.0,23.0,0.0,12.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0
2,18-01-2021,Andaman and Nicobar Islands,42.0,9.0,2.0,42.0,0.0,29.0,13.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0
3,19-01-2021,Andaman and Nicobar Islands,89.0,12.0,2.0,89.0,0.0,53.0,36.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0
4,20-01-2021,Andaman and Nicobar Islands,124.0,16.0,3.0,124.0,0.0,67.0,57.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.0

In [4]:
coviddf.columns

Index(['Updated On', 'State', 'Total Doses Administered', 'Sessions',
       ' Sites ', 'First Dose Administered', 'Second Dose Administered',
       'Male (Doses Administered)', 'Female (Doses Administered)',
       'Transgender (Doses Administered)', ' Covaxin (Doses Administered)',
       'CoviShield (Doses Administered)', 'Sputnik V (Doses Administered)',
       'AEFI', '18-44 Years (Doses Administered)',
       '45-60 Years (Doses Administered)', '60+ Years (Doses Administered)',
       '18-44 Years(Individuals Vaccinated)',
       '45-60 Years(Individuals Vaccinated)',
       '60+ Years(Individuals Vaccinated)', 'Male(Individuals Vaccinated)',
       'Female(Individuals Vaccinated)', 'Transgender(Individuals Vaccinated)',
       'Total Individuals Vaccinated'],
      dtype='object')

In [5]:
coviddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7633 entries, 0 to 7632
Data columns (total 24 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Updated On                           7633 non-null   object
 1   State                                7633 non-null   object
 2   Total Doses Administered             7415 non-null   float64
 3   Sessions                             7415 non-null   float64
 4    Sites                               7415 non-null   float64
 5   First Dose Administered              7415 non-null   float64
 6   Second Dose Administered             7415 non-null   float64
 7   Male (Doses Administered)            7415 non-null   float64
 8   Female (Doses Administered)          7415 non-null   float64
 9   Transgender (Doses Administered)     7415 non-null   float64
 10   Covaxin (Doses Administered)        7415 non-null   float64
 11  CoviShield (Doses Administered)      7415 non-null   float64
 12  Sputnik V (Doses Administered)       2914 non-null   float64
 13  AEFI                                 5291 non-null   float64
 14  18-44 Years (Doses Administered)     1656 non-null   float64
 15  45-60 Years (Doses Administered)     1656 non-null   float64
 16  60+ Years (Doses Administered)       1656 non-null   float64
 17  18-44 Years(Individuals Vaccinated)  3632 non-null   float64
 18  45-60 Years(Individuals Vaccinated)  3633 non-null   float64
 19  60+ Years(Individuals Vaccinated)    3633 non-null   float64
 20  Male(Individuals Vaccinated)         0 non-null      float64
 21  Female(Individuals Vaccinated)       0 non-null      float64
 22  Transgender(Individuals Vaccinated)  0 non-null      float64
 23  Total Individuals Vaccinated         5759 non-null   float64
dtypes: float64(22), object(2)
memory usage: 1.4+ MB

### Dropping Unwanted Columns

In [6]:
coviddf.head()

,Updated On,State,Total Doses Administered,Sessions,Sites,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Transgender (Doses Administered),...,18-44 Years (Doses Administered),45-60 Years (Doses Administered),60+ Years (Doses Administered),18-44 Years(Individuals Vaccinated),45-60 Years(Individuals Vaccinated),60+ Years(Individuals Vaccinated),Male(Individuals Vaccinated),Female(Individuals Vaccinated),Transgender(Individuals Vaccinated),Total Individuals Vaccinated
0,16-01-2021,Andaman and Nicobar Islands,23.0,2.0,2.0,23.0,0.0,12.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0
1,17-01-2021,Andaman and Nicobar Islands,23.0,2.0,2.0,23.0,0.0,12.0,11.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.0
2,18-01-2021,Andaman and Nicobar Islands,42.0,9.0,2.0,42.0,0.0,29.0,13.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0
3,19-01-2021,Andaman and Nicobar Islands,89.0,12.0,2.0,89.0,0.0,53.0,36.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89.0
4,20-01-2021,Andaman and Nicobar Islands,124.0,16.0,3.0,124.0,0.0,67.0,57.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,124.0

In [7]:
coviddf = coviddf[["Updated On", "State", "First Dose Administered", "Second Dose Administered", "Male (Doses Administered)", "Female (Doses Administered)", "Total Individuals Vaccinated"]]

In [8]:
coviddf

,Updated On,State,First Dose Administered,Second Dose Administered,Male (Doses Administered),Female (Doses Administered),Total Individuals Vaccinated
0,16-01-2021,Andaman and Nicobar Islands,23.0,0.0,12.0,11.0,23.0
1,17-01-2021,Andaman and Nicobar Islands,23.0,0.0,12.0,11.0,23.0
2,18-01-2021,Andaman and Nicobar Islands,42.0,0.0,29.0,13.0,42.0
3,19-01-2021,Andaman and Nicobar Islands,89.0,0.0,53.0,36.0,89.0
4,20-01-2021,Andaman and Nicobar Islands,124.0,0.0,67.0,57.0,124.0
...,...,...,...,...,...,...,...
7628,11-08-2021,West Bengal,NaN,NaN,NaN,NaN,NaN
7629,12-08-2021,West Bengal,NaN,NaN,NaN,NaN,NaN
7630,13-08-2021,West Bengal,NaN,NaN,NaN,NaN,NaN
7631,14-08-2021,West Bengal,NaN,NaN,NaN,NaN,NaN
7632,15-08-2021,West Bengal,NaN,NaN,NaN,NaN,NaN

In [9]:
coviddf.columns

Index(['Updated On', 'State', 'First Dose Administered',
       'Second Dose Administered', 'Male (Doses Administered)',
       'Female (Doses Administered)', 'Total Individuals Vaccinated'],
      dtype='object')

### <b> Number of persons state wise vaccinated for first dose in India

Total number of first doses:

In [10]:
coviddf["First Dose Administered"].sum()

28243114213.0

State wise first doses:

In [11]:
dose1=coviddf.pivot_table( index = 'State', values = ['First Dose Administered'], aggfunc = 'sum' ).sort_values(by = ['First Dose Administered'],ascending=False).reset_index().head(10)
dose1.style.background_gradient(cmap='twilight')

### <b> Number of persons state wise vaccinated for second dose in India

Total number of second doses:

In [12]:
coviddf["Second Dose Administered"].sum()

6758167261.0

State wise second doses:

In [13]:
dose2=coviddf.pivot_table( index = 'State', values = ['Second Dose Administered'], aggfunc = 'sum' ).sort_values(by = ['Second Dose Administered'],ascending=False).reset_index().head(10)
dose2.style.background_gradient(cmap='twilight')

### <b> State wise First Dose VS Second Dose

In [14]:
doses=coviddf.pivot_table( index = 'State', values = ['First Dose Administered','Second Dose Administered'], aggfunc = 'sum' ).sort_values(by = ['First Dose Administered','Second Dose Administered'],ascending=False).reset_index().head(10)
doses.style.background_gradient(cmap='twilight')

In [15]:
import plotly.express as px
import plotly.graph_objects as go

In [16]:
fig=px.bar(doses,x='State',y=['First Dose Administered','Second Dose Administered'])
fig.update_layout(
    title="No. of doses Administered in top 10 states",
    xaxis_title="States",
    yaxis_title="Doses",
    font=dict(
        size=14
    )
)
fig.layout.template = 'presentation'
fig.show()

### <b> Number of Males vaccinated

#### <b> Number of Males vaccinated

In [17]:
coviddf["Male (Doses Administered)"].sum()

17072685545.0

### <b> Number of Females vaccinated

In [18]:
coviddf["Female (Doses Administered)"].sum()

14979137345.0

In [19]:
male = coviddf["Male (Doses Administered)"].sum() 
female = coviddf["Female (Doses Administered)"].sum()

print("Number of Males vaccinated: ", male)
print("Number of Females vaccinated: ", female, '\n')
print("Visualization")

fig = px.pie(values=[male,female], names=["Male Vaccinated","Female Vaccinated"],
             width=800,height=500)
fig.update_layout(
    title="Gender ratio (Doses Administered)",
    legend_title="Gender",
    font=dict(
        size=14
    )
)
fig.layout.template = 'presentation'
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

Number of Males vaccinated:  17072685545.0
Number of Females vaccinated:  14979137345.0

Visualization

### <b> Top 10 states with highest number of Vaccination

In [20]:
top10vaccinate=coviddf.pivot_table( index = 'State', values = 'Total Individuals Vaccinated', aggfunc = 'sum' ).sort_values(by = ['Total Individuals Vaccinated'],ascending=False).reset_index().head(10)
fig = px.bar( top10vaccinate, x='State',y='Total Individuals Vaccinated', color ='State',width=900, height=550) 
fig.update_layout(
    title="Top 10 states with highest number of vaccinated individuals",
    xaxis_title="State/UnionTerritory",
    yaxis_title="Doses",
    legend_title="State/UnionTerritory",
    font=dict(
        size=14
    )
)
fig.layout.template = 'presentation'
fig.show()

<b> Maharashtra has administered the highest number of vaccine doses to date, followed by UP, Rajasthan, Gujarat.

## <B> CONCLUSION
We all can see how this COVID-19 pandemic has turned the nation upside down. There is an emergent loss of human life at one end and on the other hand, people are losing their jobs and businesses are shutting down. In such a tough time, what we all need to do is come together to fight against this pandemic. As they said, “Where there is Unity there is always Victory” – this is the power of staying united.